body{
    font-family: "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "黑體-繁", 'Arial', sans-serif;
}
.wrapper{
    background:url(https://www.sec.ntpc.edu.tw/Content/images/bk.jpg) top center repeat-x;
}

.wrapper>.container{
    background-color: white;
    //border: solid 1px black;
    border-top-left-radius:50px !important;
    border-top-right-radius:50px !important;
    padding:40px 20px;
    box-shadow:6px -6px 10px rgba(10%,10%,40%,0.05);
    margin-top: 20px;
}
.NewsTab{
    padding-left:40px;

}

.boxborder {
    margin-bottom: 5px;
    border: 1px solid #ddd;
    display: block;
    font-size: 14px;
    padding: 5px 15px 5px 0px;
    background: #fefefe;
}
.boxborder>span{
    margin-left: -1px;
    padding: 10px;
    background: #79d5b3;
    color: white;
}
.boxborder>p{
    display: inline;
    padding: 10px;
}



@media (max-width: 768px){
    .navbar-brand>img{
        width: 150px;
        margin-left: 0px !important;
    }
}

@media (min-width: 1200px) { 
    .navbar-brand>img{
        width: 300px;
    } 
}


